name: C/C++ CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: cmake
      run: cmake "/home/runner/work/code/code"
    - name: cmake build
      run: cmake --build "home/runner/work/code/code/cmake-build-debug"

